<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Contacts</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="logo">
				<img src="static/img/logo1.jpg" alt="logotype" height="80" width="90"><br>
				<span>Дом Вашей Мечты</span>
			</div>
			<ul class="menu">
				<li><a href="index.html">Главная</a></li>
				<li><a href="catalog.html">Каталог</a></li>
				<li><a href="contacts.html">Контакты</a></li>
			</ul>
			<!--<table class="tabmenu">
				<tr>
					<td><a href="#">Главная</a></td>
					<td><a href="catalog.html">Каталог</a></td>
					<td><a href="contacts.html">Контакты</a></td>
				</tr>
			</table>-->
		</div>	
		<hr>
		<h2>Наши контакты</h2>
		<p>Адрес: г. Москва, ул. Смольная, д.2, 2 этаж, офис 79<br>Время работы: пн-пт, с 9:00 до 18:00<br>Телефон:8-800-302-70-85 (по России бесплатно)<br>E-mail: info@mail.ru</p>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1583.929397348004!2d37.49950398582509!3d55.84506412453794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b537e4d07df061%3A0x87160d0a54364a04!2z0KHQvNC-0LvRjNC90LDRjyDRg9C7LiwgMiwg0JzQvtGB0LrQstCwLCAxMjU0OTM!5e0!3m2!1sru!2sru!4v1550188092271" width="100%" height="400" frameborder="2" style="border:1" allowfullscreen></iframe><br>
		<p>Напишите нам:</p>
		<form class="feedback" action="">
			<fieldset>Имя:     
		        <input type="text" placeholder="Ваше имя">
		        <br> Email:
		        <input class="email" type="text" placeholder="Ваш электронный адрес">
		        <br> Телефон:
		        <input type="text" placeholder="Ваш номер телефона">
		        <br> Опишите Ваш вопрос:
		        <br>
		        <textarea cols="50" rows="5" placeholder="Введите текст сообщения"></textarea>
		        <!--<input type="text" placeholder="Введите текст сообщения">-->
		        <br>
		        <input type="submit" value="Отправить сообщение">
		        <input type="reset" value="Очистить">
	    	</fieldset>
	    </form>
		<form class="subscribe">
			<fieldset>
				Подпишитесь на нашу E-mail рассылку, чтобы быть в курсе всех специальных предложений, проводимых акций и скидках <br>
				<input type="text" placeholder="Введите ваш адрес электронной почты, E-mail" size="40" name="">
				<input type="submit" value="Подписаться">
			</fieldset>
		</form>
		<hr>
		<div class="footer">Все права защищены &copy;&nbsp;2019</div>
	</div>
</body>
</html>